/* Remove margens padrão e define base */
:host {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
  }
  
  .header {
    background-color: #21687B;
    height: 200px;
  }
  
  .container {
    position: relative; /*a caixa branca sobe*/
    top: -80px;
    margin: 0 auto;
    max-width: 800px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
  
  .text {
    flex: 1;
    font-family: 'Inter', sans-serif;
  }
  
  .qr {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: 'Inter', sans-serif;
  }
  #qr-img {
    margin-top: 5px;
    height: 250px;
  }
  

  /* Responsividade */
@media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 24px;
    }
  
    .text {
      max-width: 100%;
    }
  
    #qr-img {
      margin-top: 24px;
    }
  }